<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Agenda de Contatos</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="listaTelefonicaCtrl">
		<div  class="jumbotron">
			<h3>{{app}}</h3>
			<input class="form-control" type="text" ng-model="busca"/>
			<table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th></th>
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter: busca">
					<td><input type="checkbox" ng-model="contato.selecionado"/></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
				</tr>
			</table>
			<hr/>
			<form name="contatosForm">
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true"/>
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
			</form>
			<div class="alert alert-danger" ng-show="contatosForm.$dirty">
			<p>Preencha nome e telefone</p>
			</div>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatosForm.$invalid">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" ng-click="excluirContato(contatos)" >Excluir Contatos</button>
		</div>
		<div ng-include="'./components/footer.html'"></div>
	</div>
	<div ng-controller="listaHttpCtrl" style="text-align: center">
		<h5>{{ httpInteracao }}</h5>
		<h5>Status: {{ statuscode }}</h5>
		<h5>Texto do status: {{ statustext }}</h5>
	</div>
	<div style="text-align: center">
		<a href="#vermelho">R</a>
		<a href="#verde">G</a>
		<a href="#azul">B</a>
		<div ng-view=""></div>
	</div> 

	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/controller.js">	</script>
</body>
</html>
